OC=~/.bin/oc4
OC_URL=https://dev-api.openshift.example.com:6443
OC_USER=kubeadmin
OC_PASSWORD=my-secret-passwd-sauce


# Front End
ADMIN_PASSWORD=ChangeMe
# Gesture API S3 training data
S3_ENDPOINT=https://s3.amazonaws.com
S3_REGION=us-east-1
S3_BUCKET=my-bucket-name
S3_PREFIX=top-level-dir
S3_ACCESS_KEY_ID=ChangeMe
S3_SECRET_ACCESS_KEY=ChangeMe

# Kafka
KAFKA_OPERATOR=strimzi # E.g. strimzi or amq-streams
KAFKA_OPERATOR_VERSION=0.11.1 # strimzi or amq-streams version
KAFKA_VERSION=2.1.0 # check supported Kafka versions on strimzi and amq-streams
KAFKA_NAMESPACE=strimzi-demo
KAFKA_CLUSTER=demo2019

# OCP4 cluster installation
CLUSTER_NAME=ChangeMe # E.g. demo2019
CLUSTER_CONFIG_HOME=ChangeMe # E.g. /Users/someuser/tmp/repos/2019-demo4-cluster-setup/demo2019-config
MASTER_EC2_TYPE=ChangeMe # E.g. m4.xlarge
WORKER_EC2_TYPE=ChangeMe # E.g. m4.2xlarge
AWS_REGION=ChangeMe # E.g. ap-southeast-2
VERSION=ChangeMe # E.g. 0.16.1